{"openapi":"3.0.0","info":{"title":"Hifi API","version":"2.0.0","description":"API documentation for Hifi"},"servers":[{"url":"https://production.hifibridge.com","description":"Production server"},{"url":"https://sandbox.hifibridge.com","description":"Sandbox server"}],"tags":[{"name":"Common","description":"Common endpoints"},{"name":"User","description":"User endpoints"},{"name":"Kyc","description":"Kyc endpoints"},{"name":"Wallet","description":"Wallet endpoints"},{"name":"Account","description":"Account endpoints"},{"name":"Virtual Account","description":"Virtual Account endpoints"},{"name":"Onramp","description":"Onramp endpoints"},{"name":"Offramp","description":"Offramp endpoints"},{"name":"Crypto Transfer","description":"Crypto Transfer endpoints"},{"name":"Cross-Chain Bridge","description":"Cross-Chain Bridge endpoints"},{"name":"Token Swap","description":"Token Swap endpoints"},{"name":"Transfer Rules","description":"Transfer approval rules and configuration"},{"name":"Transfer Approvals","description":"Transfer approval workflow and admin actions"},{"name":"Multi-Currency Account","description":"Multi-Currency Account endpoints"},{"name":"Multi-Currency Exchange","description":"Multi-Currency Exchange endpoints"},{"name":"Multi-Currency Transfer","description":"Multi-Currency Transfer endpoints"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"parameters":{"AccountIdPathParameter":{"name":"accountId","in":"path","schema":{"type":"string"},"description":"ID of the account","required":true},"CurrencyParameter":{"name":"currency","in":"query","schema":{"type":"string","enum":["usd","eur","brl","mxn","ars","cop","kes","zmw","mwk","tzs","xaf","xof","ngn","ugx","bwp","ghs"]},"description":"Please provide at least one of the following query params: currency, railType. Eg. Setting 'currency' to 'usd' without setting 'railType' and 'paymentRail' will return all usd accounts under any railType or paymentRail.","required":false},"VALimitParameter":{"name":"limit","in":"query","schema":{"type":"string","minimum":1,"maximum":100},"description":"Number of micro deposit records return for the virtual account, default to 10 maximum to 100","required":false},"VACreatedBeforeParameter":{"name":"createdBefore","in":"query","schema":{"type":"string"},"description":"Return the micro deposit records that created before this eventId","required":false},"VACreatedAfterParameter":{"name":"createdAfter","in":"query","schema":{"type":"string"},"description":"Return the micro deposit records that created after this eventId","required":false},"VASourceCurrencyParameter":{"name":"sourceCurrency","in":"query","schema":{"type":"string","enum":["usd"]},"description":"Source currency","required":false},"VADestinationCurrencyParameter":{"name":"destinationCurrency","in":"query","schema":{"type":"string","enum":["usdc","usdt"]},"description":"Destination currency","required":false},"VADestinationChainParameter":{"name":"destinationChain","in":"query","schema":{"type":"string","enum":["POLYGON"]},"description":"Destination chain","required":false},"AccountTypeOptionalParameter":{"name":"type","in":"query","schema":{"type":"string","enum":["us","euro","plaid","brazil","columbia","argentina","mexico","africa","brazilGlobalNetwork"]},"description":"account type","required":false},"VirtualAccountIdPathParameter":{"name":"accountId","in":"path","schema":{"type":"string"},"description":"ID of the virtual account","required":true},"AccountRailOptionalParameter":{"name":"rail","in":"query","schema":{"type":"string","enum":["onramp","offramp"]},"description":"onramp or offramp","required":false},"CurrencyAnyOptionalParameter":{"name":"currency","in":"query","schema":{"type":"string"},"required":false},"RuleIdPathParameter":{"name":"ruleId","in":"path","schema":{"type":"string"},"description":"ID of the settlement rule","required":true},"LimitParameter":{"name":"limit","in":"query","schema":{"type":"string","minimum":1,"maximum":100},"description":"default to 10, maximum to 100","required":false},"CreatedBeforeParameter":{"name":"createdBefore","in":"query","schema":{"type":"string","format":"date"},"description":"ISO format: YYYY-MM-DD","required":false},"CreatedAfterParameter":{"name":"createdAfter","in":"query","schema":{"type":"string","format":"date"},"description":"ISO format: YYYY-MM-DD","required":false},"MCAccountRecipientTypeParameter":{"name":"type","in":"query","schema":{"type":"string"},"description":"type of recipient","required":false},"MCAccountRecipientIdParameter":{"name":"recipientId","in":"query","schema":{"type":"string"},"description":"ID of the recipient","required":false},"MCAccountRecipientStatusParameter":{"name":"status","in":"query","schema":{"type":"string","enum":["NOT_INITIATED","PENDING","AVAILABLE","DECLINED"]},"description":"status of the recipient","required":false},"MCAccountTransferSourceCurrencyParameter":{"name":"sourceCurrency","in":"query","schema":{"type":"string"},"description":"sourceCurrency of the transfer","required":false},"MCAccountTransferDestinationCurrencyParameter":{"name":"destinationCurrency","in":"query","schema":{"type":"string"},"description":"destinationCurrency of the transfer","required":false},"MCAccountTransferStatusParameter":{"name":"status","in":"query","schema":{"type":"string","enum":["NOT_INITIATED","PENDING","PROCESSING","SUCCESS","FAIL"]},"description":"status of the transfer","required":false},"MCAccountRecipientIdPathParameter":{"name":"recipientId","in":"path","schema":{"type":"string"},"description":"ID of the recipient","required":true},"MCAccountTransferIdPathParameter":{"name":"transferId","in":"path","schema":{"type":"string"},"description":"ID of the transfer","required":true},"ForexSourceCurrencyParameter":{"name":"sourceCurrency","in":"query","schema":{"type":"string"},"description":"sourceCurrency of the currency exchange order","required":false},"ForexDestinationCurrencyParameter":{"name":"destinationCurrency","in":"query","schema":{"type":"string"},"description":"destinationCurrency of the currency exchange order","required":false},"ForexStatusParameter":{"name":"status","in":"query","schema":{"type":"string","enum":["NOT_INITIATED","PENDING","AVAILABLE","DECLINED","SUSPENDED","CLOSING","CLOSED"]},"description":"status of the currency exchange order","required":false},"ForexOrderIdPathParameter":{"name":"orderId","in":"path","schema":{"type":"string"},"description":"ID of the currency exchange order","required":true},"RailsTypeOptionalParameter":{"name":"rails","in":"query","schema":{"type":"string","enum":["USD_EURO","SOUTH_AMERICA_STANDARD","AFRICA_GENERAL","AFRICA_NIGERIA","MULTI_CURRENCY_ACCOUNT","GLOBAL_NETWORK"]},"description":"The type of rail.","required":false},"RailsTypeParameter":{"name":"rails","in":"query","schema":{"type":"string","enum":["USD_EURO","SOUTH_AMERICA_STANDARD","AFRICA_GENERAL","AFRICA_NIGERIA","MULTI_CURRENCY_ACCOUNT","GLOBAL_NETWORK"]},"description":"The type of rail.","required":true},"KycStatusOptionalParameter":{"name":"status","in":"query","schema":{"type":"string","enum":["ACTIVE","INACTIVE","PENDING","INCOMPLETE","REJECTED","MANUAL_REVIEW","CONTACT_SUPPORT"]},"description":"The status of the KYC.","required":false},"KycStatusArrayOptionalParameter":{"name":"status","in":"query","schema":{"type":"array","items":{"type":"string","enum":["ACTIVE","INACTIVE","PENDING","INCOMPLETE","REJECTED","MANUAL_REVIEW","CONTACT_SUPPORT"]}},"description":"The status of the KYC.","required":false},"UboIdPathParameter":{"name":"uboId","in":"path","schema":{"type":"string"},"description":"The ID of the Ultimate Beneficial Owner (UBO).","required":true},"DocumentIdPathParameter":{"name":"documentId","in":"path","schema":{"type":"string"},"description":"The ID of the document.","required":true},"MCAccountIdParameter":{"name":"currencyAccountId","in":"query","schema":{"type":"string"},"description":"ID of the currency account","required":false},"MCAccountCurrencyParameter":{"name":"currency","in":"query","schema":{"type":"string"},"description":"currency","required":false},"MCAccountStatusParameter":{"name":"status","in":"query","schema":{"type":"string","enum":["NOT_INITIATED","PENDING","AVAILABLE","DECLINED","SUSPENDED","CLOSING","CLOSED"]},"description":"account application status","required":false},"MCAccountBankLocationParameter":{"name":"bankLocation","in":"query","schema":{"type":"string"},"description":"The three-letter alpha-3 country code of the bank location","required":false},"MCAccountDepositStatusParameter":{"name":"status","in":"query","schema":{"type":"string","enum":["PENDING","APPROVED","CLOSED","REJECTED","CANCELED","REFUNDED"]},"description":"status of the deposit","required":false},"MCAccountIdPathParameter":{"name":"currencyAccountId","in":"path","schema":{"type":"string"},"description":"ID of the currency account","required":true},"MCAccountDepositPathParameter":{"name":"depositId","in":"path","schema":{"type":"string"},"description":"ID of the deposit","required":true},"MCAccountStoreIdPathParameter":{"name":"storeId","in":"path","schema":{"type":"string"},"description":"ID of the store","required":true},"OfframpRecordIDPathParameter":{"name":"transferId","in":"path","schema":{"type":"string"},"description":"Transfer record ID.","required":true},"FromCryptoCurrencyParameter":{"name":"fromCurrency","in":"query","schema":{"type":"string","enum":["usdc"]},"required":true},"ToFiatCurrencyParameter":{"name":"toCurrency","in":"query","schema":{"type":"string","enum":["usd","eur","brl","mxn","ars","cop","ugx","ngn","kes","xof","rwf","tzs","zmw","mwk","xaf"]},"required":true},"CryptoTransferRecordIDPathParameter":{"name":"transferId","in":"path","schema":{"type":"string"},"description":"Transfer record ID.","required":true},"BridgingRequestIDPathParameter":{"name":"transferId","in":"path","schema":{"type":"string"},"description":"Transfer record ID.","required":true},"BatchCryptoTransferRecordIDPathParameter":{"name":"transferId","in":"path","schema":{"type":"string"},"description":"Transfer record ID.","required":true},"SwapTransferIDPathParameter":{"name":"swapId","in":"path","schema":{"type":"string"},"description":"Swap transfer record ID.","required":true},"OnrampRecordIDPathParameter":{"name":"transferId","in":"path","schema":{"type":"string"},"description":"Transfer record ID.","required":true},"FromFiatCurrencyParameter":{"name":"fromCurrency","in":"query","schema":{"type":"string","enum":["usd","eur","brl","mxn","ars","cop","ugx","ngn","kes","xof","rwf","tzs","zmw","mwk","xaf"]},"required":true},"ToCryptoCurrencyParameter":{"name":"toCurrency","in":"query","schema":{"type":"string","enum":["usdc"]},"required":true},"FromCurrencyParameter":{"name":"fromCurrency","in":"query","schema":{"type":"string","enum":["usdc"]},"required":true},"ToCurrencyParameter":{"name":"toCurrency","in":"query","schema":{"type":"string","enum":["usd","eur","brl","mxn","ars","cop"]},"required":true},"ToCurrencyConversionParameter":{"name":"toCurrency","in":"query","schema":{"type":"string","enum":["usd","eur","brl","mxn","ars","cop","ugx","ngn","kes","xof","rwf","tzs","zmw","mwk","xaf"]},"required":true},"TransferRecordIDPathParameter":{"name":"transferId","in":"path","schema":{"type":"string"},"description":"Transfer record ID.","required":true},"UserIdOptionalParameter":{"name":"userId","in":"query","schema":{"type":"string"},"description":"The user ID.","required":false},"UserTypeV2Parameter":{"name":"type","in":"query","schema":{"type":"string","enum":["individual","business"]},"description":"If passed, you will get all users under the type.","required":false},"UserFirstNameParameter":{"name":"firstName","in":"query","schema":{"type":"string"},"description":"If passed, you will get all users with the case-insensitive partial match of `firstName`.\n","required":false},"UserLastNameParameter":{"name":"lastName","in":"query","schema":{"type":"string"},"description":"If passed, you will get all users with the case-insensitive partial match of `lastName`.\n","required":false},"UserNameParameter":{"name":"userName","in":"query","schema":{"type":"string"},"required":false},"UserBusinessNameParameter":{"name":"businessName","in":"query","schema":{"type":"string"},"description":"If passed, you will get all users with the case-insensitive partial match of `businessName`.\n","required":false},"UserEmailParameter":{"name":"email","in":"query","schema":{"type":"string"},"description":"If passed, you will get all users with the case-insensitive partial match of `email`.\n","required":false},"UserEmailV2Parameter":{"name":"userEmail","in":"query","schema":{"type":"string"},"required":false},"ChainParameter":{"name":"chain","in":"query","schema":{"type":"string","enum":["POLYGON","ETHEREUM","SOLANA","BASE"]},"description":"The blockchain network to retrieve the wallet balance from.","required":true},"CryptoCurrencyParameter":{"name":"currency","in":"query","schema":{"type":"string","enum":["usdc","usdt","usdHifi"]},"description":"The type of currency to check the balance for. Currently, only usdc is supported.","required":true},"UserIdPathParameter":{"name":"userId","in":"path","schema":{"type":"string"},"description":"ID of the user","required":true},"SignedAgreementIdPathParameter":{"name":"signedAgreementId","in":"path","schema":{"type":"string"},"description":"ID of the signed agreement","required":true},"ExternalWalletIdPathParameter":{"name":"externalWalletId","in":"path","schema":{"type":"string"},"description":"ID of the external wallet","required":true},"DepositIdPathParameter":{"name":"depositId","in":"path","schema":{"type":"string"},"description":"ID of the deposit","required":true},"WalletDepositStatusParameter":{"name":"status","in":"query","schema":{"type":"string","enum":["CONFIRMED","COMPLETED"]},"description":"Status of the deposit, CONFIRMED indicates the deposit is found in the blockchain, COMPLETED indicates the deposit is completed and unlikely to be reverted.","required":false},"MinAmountParameter":{"name":"minAmount","in":"query","schema":{"type":"number"},"description":"Minimum amount of the deposit, default is 0.01","required":false}},"requestBodies":{"CreateAccountBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateAccount"},{"$ref":"#/components/schemas/CreateAfricaOnrampAccount"},{"$ref":"#/components/schemas/CreatePlaidAccount"},{"$ref":"#/components/schemas/CreateUsAccount"},{"$ref":"#/components/schemas/CreateEuroAccount"},{"$ref":"#/components/schemas/CreateBrazilAccount"},{"$ref":"#/components/schemas/CreateBrazilGlobalNetworkAccountIndividual"},{"$ref":"#/components/schemas/CreateBrazilGlobalNetworkAccountBusiness"},{"$ref":"#/components/schemas/CreateColombiaAccount"},{"$ref":"#/components/schemas/CreateArgentinaAccount"},{"$ref":"#/components/schemas/CreateMexicoAccount"},{"$ref":"#/components/schemas/CreateMexicoGlobalNetworkAccountIndividual"},{"$ref":"#/components/schemas/CreateMexicoGlobalNetworkAccountBusiness"},{"$ref":"#/components/schemas/CreateNigeriaGlobalNetworkAccountIndividual"},{"$ref":"#/components/schemas/CreateNigeriaGlobalNetworkAccountBusiness"},{"$ref":"#/components/schemas/CreateHongKongGlobalNetworkAccountIndividual"},{"$ref":"#/components/schemas/CreateHongKongGlobalNetworkAccountBusiness"},{"$ref":"#/components/schemas/CreateChinaGlobalNetworkAccountIndividual"},{"$ref":"#/components/schemas/CreateChinaGlobalNetworkAccountBusiness"},{"$ref":"#/components/schemas/CreateAfricaOfframpAccount"}]}}}},"CreateVirtualAccountBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVirtualAccount"}}}},"UpdateVirtualAccountBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVirtualAccount"}}}},"SimulateVirtualAccountDepositBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimulateVirtualAccountDeposit"}}}},"CreateSettlementRuleBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSettlementRule"}}}},"UpdateSettlementRuleBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSettlementRule"}}}},"CreateMCAccountRecipientBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMCAccountRecipient"}}}},"UpdateMCAccountRecipientBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMCAccountRecipient"}}}},"CreateMCAccountTransferBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMCAccountTransfer"}}}},"GetForexRateBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetForexRate"}}}},"CreateForexOrderBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateForexOrder"}}}},"KycUpdateBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IndividualKycUpdate"},{"$ref":"#/components/schemas/BusinessKycUpdate"}]}}}},"RailsBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Rails"}}}},"KycLinkBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/KycLinkForUserCreation"},{"$ref":"#/components/schemas/KycLinkForUnlockingRails"}]}}}},"AddUboBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UboAdd"}}}},"UpdateUboBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UboUpdate"}}}},"AddDocumentBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IndividualDocumentAdd"},{"$ref":"#/components/schemas/BusinessDocumentAdd"}]}}}},"UpdateDocumentBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IndividualDocumentUpdate"},{"$ref":"#/components/schemas/BusinessDocumentUpdate"}]}}}},"CreateMCAccountBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMCAccount"}}}},"CreateMCAccountStoreBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMCAccountStore"}}}},"AuthorizeMCAccountStoreBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizeMCAccountStore"}}}},"CreateOfframpBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateOfframp"},{"$ref":"#/components/schemas/CreateUsdOfframp"},{"$ref":"#/components/schemas/CreateEuroOfframp"},{"$ref":"#/components/schemas/CreateBrlOfframp"},{"$ref":"#/components/schemas/CreateCopOfframp"},{"$ref":"#/components/schemas/CreateMxnOfframp"},{"$ref":"#/components/schemas/CreateArsOfframp"},{"$ref":"#/components/schemas/CreateAfricaOfframp"},{"$ref":"#/components/schemas/CreateBrazilGlobalNetworkOfframp"},{"$ref":"#/components/schemas/CreateMexicoGlobalNetworkOfframp"},{"$ref":"#/components/schemas/CreateNigeriaGlobalNetworkOfframp"},{"$ref":"#/components/schemas/CreateHongKongGlobalNetworkOfframp"},{"$ref":"#/components/schemas/CreateChinaGlobalNetworkOfframp"}]}}}},"CreateCryptoTransferBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCryptoTransfer"}}}},"CreateBridgingRequestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBridgingRequest"}}}},"CreateBatchCryptoTransferBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBatchCryptoTransfer"}}}},"CreateWalletSwapBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWalletSwap"}}}},"CreateOnrampBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateOnramp"},{"$ref":"#/components/schemas/CreateUsdPlaidOnramp"},{"$ref":"#/components/schemas/CreateUsdOnramp"},{"$ref":"#/components/schemas/CreateEuroOnramp"},{"$ref":"#/components/schemas/CreateBrlOnramp"},{"$ref":"#/components/schemas/CreateMxnOnramp"},{"$ref":"#/components/schemas/CreateAfricaOnramp"}]}}}},"CreateFiatTransferBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFiatTransfer"}}}},"UserV2CreateBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IndividualUserV2Create"},{"$ref":"#/components/schemas/BusinessUserV2Create"}]}}}},"UserV2UpdateBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IndividualUserV2Update"},{"$ref":"#/components/schemas/BusinessUserV2Update"}]}}}},"ToSLinkBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToSLink"}}}},"UserV2AddWalletsBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserV2AddWallets"}}}},"AddExternalWalletsBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddExternalWallets"}}}}},"responses":{"GetAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountObject"}}}},"GetAllAccountsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllAccountObjects"}}}},"CreateAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountObject"}}}},"DeleteAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteAccountObject"}}}},"CreateVirtualAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVirtualAccountObject"}}}},"UpdateVirtualAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateVirtualAccountObject"}}}},"GetVirtualAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualAccountObject"}}}},"GetAllVirtualAccountsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VirtualAccountListObject"}}}},"DeactivateVirtualAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeactivateVirtualAccountObject"}}}},"ReactivateVirtualAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReactivateVirtualAccountObject"}}}},"SimulateVirtualAccountDepositResponse":{"description":"Successfully triggered sandbox deposit","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Sandbox deposit triggered"}}}}}},"GetSettlementRuleResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementRuleResponse"}}}},"CreateSettlementRuleResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementRuleResponse"}}}},"GetAllSettlementRulesResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementRuleListResponse"}}}},"UpdateSettlementRuleResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SettlementRuleResponse"}}}},"DeleteSettlementRuleResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteSettlementRuleResponse"}}}},"ApplySettlementRuleResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApplySettlementRuleResponse"}}}},"RemoveSettlementRuleResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RemoveSettlementRuleResponse"}}}},"UnauthorizedResponse":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unauthorized"}}}},"NotFoundResponse":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotFound"}}}},"InternalServerErrorResponse":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerError"}}}},"PingResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Pong"}}}},"CreateMCAccountRecipientResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMCAccountRecipientObject"}}}},"GetMCAccountRecipientResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMCAccountRecipientObject"}}}},"GetAllMCAccountRecipientsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMCAccountRecipientListObject"}}}},"CreateMCAccountTransferResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountTransferObject"}}}},"GetMCAccountTransferResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountTransferObject"}}}},"GetAllMCAccountTransfersResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountTransferListObject"}}}},"GetForexRateResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForexRateObject"}}}},"CreateForexOrderResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForexOrderObject"}}}},"GetAllForexOrdersResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForexOrderListObject"}}}},"GetForexOrderResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForexOrderObject"}}}},"KycObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/KycIndividualObject"},{"$ref":"#/components/schemas/KycBusinessObject"}]},"examples":{"Individual":{"value":{"userId":"35dbc7ea-2877-4a70-add6-b5458289df23","kycInfo":{"firstName":"John","firstNameLocal":"Lil John","middleName":null,"middleNameLocal":null,"lastName":"Doe","lastNameLocal":null,"nationality":"USA","email":"example@gmail.com","phone":"+12223334444","address":{"addressLine1":"123 Main St","addressLine2":null,"city":"San Francisco","stateProvinceRegion":"CA","postalCode":"94105","country":"USA"},"dateOfBirth":"1990-01-01","countryOfBirth":"USA","taxIdentificationNumber":"123456789","ipAddress":"108.28.159.21","govIdType":"PASSPORT","govIdNumber":"123456789","govIdFrontUrl":"https://example.com","govIdBackUrl":"https://example.com","govIdHandHoldUrl":"https://example.com","govIdCountry":"USA","govIdIssuanceDate":"2020-01-01","govIdExpirationDate":"2027-01-01","govIdIssuanceAuthority":null,"proofOfAddressType":"UTILITY_BILL","proofOfAddressUrl":"https://example.com","sofEuQuestionnaire":null,"idType":"NIN","idNumber":"123456789","additionalIdType":null,"additionalIdNumber":null,"purpose":null,"productServiceCategory":null,"supplementaryInfo":null,"supplementaryUrl":null,"documents":[]}}},"Business":{"value":{"userId":"35dbc7ea-2877-4a70-add6-b5458289df23","kycInfo":{"type":"business","businessName":"Example Inc","businessNameLocal":null,"businessDescription":"Example business description","email":"example@example.com","phone":"+12223334444","sourceOfFunds":"income","businessType":"s_corporation","businessIndustry":"111110","website":"example.com","address":{"addressLine1":"123 Main St","addressLine2":null,"city":"San Francisco","stateProvinceRegion":"CA","postalCode":"94105","country":"USA"},"taxIdentificationNumberType":"EIN","taxIdentificationNumber":"123456789","leiNumber":"null,","daoStatus":false,"transmitsCustomerFunds":false,"formationDocUrl":"https://example.com","proofOfOwnershipUrl":"https://example.com","proofOfAddressType":"UTILITY_BILL","proofOfAddressUrl":"https://example.com","formationDate":"2020-01-01","ipAddress":"108.28.159.21","complianceScreeningExplanation":null,"certificateOfRegistrationDocType":"CERTIFICATE_OF_REGISTRATION","certificateOfRegistrationDocUrl":"https://example.com","certificateNumber":"123456789","registrationNumber":"349182744","registeredAddress":{"addressLine1":"123 Main St","addressLine2":null,"city":"San Francisco","stateProvinceRegion":"CA","postalCode":"94105","country":"USA"},"postalAddress":{"addressLine1":"123 Main St","addressLine2":null,"city":"San Francisco","stateProvinceRegion":"CA","postalCode":"94105","country":"USA"},"alternativeNames":null,"certificateIncorporationDocUrl":"https://example.com","incorporationNumber":"123456789","incorporationDate":"2020-01-01","incorporationCountry":"USA","incorporationState":"NY","controlScheme":"","businessRegistrationDocUrl":"https://example.com","licenseExpirationDate":"2027-01-01","productServiceCategory":"KC02001001","shareStructureUrl":"https://example.com","constitutionOrAnnualReportUrl":"https://example.com","articlesOfAssociationUrl":"https://example.com","uboDeclarationUrl":"https://example.com","partnershipMinsOfMeetingUrl":null,"partnershipDeedUrl":null,"certificateOfIncumbencyUrl":null,"flowOfFundsUrl":null,"sourceOfFundsUrl":null,"purpose":"PAY_SUPPLIERS","tradeName":null,"exportCountry":null,"tradeType":null,"supplementaryInfo":null,"supplementaryUrl":null,"dueDiligenceForm":null,"amlQuestionnaire":null,"organizationStructureUrl":null,"sofEuQuestionnaire":{"primaryPurpose":"investment_purposes","sourceOfFunds":"investment_proceeds","highRiskActivities":["none_of_the_above"],"conductsMoneyServices":false,"transmitsCustomerFunds":false,"customerFundsDescription":"na","estimatedAnnualRevenueUsd":"10000000_49999999","expectedMonthlyPaymentsUsd":"100000","operatesInProhibitedCountries":false},"documents":[{"id":"aafddd61-ed30-48bd-b122-bdc3aed54ac2","type":"INCORPORATION_CERT","subType":"SINGLE_SIDE","issuedCountry":"USA","issuedDate":"2022-01-04T00:00:00+00:00","expiryDate":"2030-01-04T00:00:00+00:00","number":"837473233","url":"https://example.com","description":null,"uboId":null}],"ultimateBeneficialOwners":[{"id":"03aef9fa-0e58-4f42-a22f-46de619b42e0","role":"OWNER_OR_OPERATOR","roles":["UBO","DIRECTOR"],"businessTitle":"CEO","firstName":"John","firstNameLocal":"John","middleName":null,"middleNameLocal":null,"lastName":"Doe","lastNameLocal":"John","nationality":"USA","email":"example@gmail.com","phone":"+12223334444","address":{"addressLine1":"123 Main St","addressLine2":null,"city":"San Francisco","stateProvinceRegion":"CA","postalCode":"94105","country":"USA"},"dateOfBirth":"1990-01-01","countryOfBirth":"USA","stateOfBirth":null,"placeOfBirth":null,"gender":"M","country":"USA","taxIdentificationNumber":"123456789","taxResidenceCountry":"USA","ipAddress":null,"hasOwnership":true,"hasControl":true,"isSigner":true,"relationshipEstablishedAt":"2020-01-01","govIdCountry":"USA","govIdType":"PASSPORT","govIdNumber":"123456789","govIdFrontUrl":"https://example.com","govIdBackUrl":"https://example.com","govIdIssuanceDate":"2020-01-01","govIdExpirationDate":"2027-01-01","govIdIssuanceAuthority":null,"proofOfAddressType":"UTILITY_BILL","proofOfAddressUrl":"https://example.com","authLetterUrl":"https://example.com","shareProportion":25,"supplementaryInfo":null,"supplementaryUrl":null,"documents":[]}]}}}}}}},"KycStatusResponse":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UsEuroRailObject"},{"$ref":"#/components/schemas/SouthAmericaRailObject"},{"$ref":"#/components/schemas/OnChainRailObject"},{"$ref":"#/components/schemas/MultiCurrencyAccountRailObject"}]},"examples":{"USD_EURO":{"value":{"status":"PENDING","warnings":[],"message":"","onRamp":{"usd":{"achPush":{"status":"PENDING","warnings":[],"message":""},"achPull":{"status":"PENDING","warnings":[],"message":""}},"euro":{"sepa":{"status":"PENDING","warnings":[],"message":""}}},"offRamp":{"usd":{"ach":{"status":"PENDING","warnings":[],"message":""}},"euro":{"sepa":{"status":"PENDING","warnings":[],"message":""}}}}},"SOUTH_AMERICA_STANDARD":{"value":{"status":"PENDING","warnings":[],"message":"","limit":{"daily":50000,"monthly":100000,"perTransaction":10000},"onRamp":{"brl":{"pix":{"status":"PENDING","warnings":[],"message":""}}},"offRamp":{"brl":{"pix":{"status":"PENDING","warnings":[],"message":""}},"mxn":{"spei":{"status":"PENDING","warnings":[],"message":""}},"cop":{"achCop":{"status":"PENDING","warnings":[],"message":""}},"ars":{"transfers":{"status":"PENDING","warnings":[],"message":""}}}}},"AFRICA_GENERAL":{"value":{"status":"PENDING","warnings":[],"message":"","onRamp":{"kes":{"momo":{"status":"PENDING","warnings":[],"message":""}},"ghs":{"momo":{"status":"PENDING","warnings":[],"message":""}},"tzs":{"bank":{"status":"PENDING","warnings":[],"message":""}},"ugx":{"bank":{"status":"PENDING","warnings":[],"message":""}},"bwp":{"bank":{"status":"PENDING","warnings":[],"message":""}},"xaf":{"bank":{"status":"PENDING","warnings":[],"message":""},"momo":{"status":"PENDING","warnings":[],"message":""}},"mwk":{"bank":{"status":"PENDING","warnings":[],"message":""},"momo":{"status":"PENDING","warnings":[],"message":""}},"rwf":{"bank":{"status":"PENDING","warnings":[],"message":""}},"zmw":{"bank":{"status":"PENDING","warnings":[],"message":""},"momo":{"status":"PENDING","warnings":[],"message":""}},"xof":{"bank":{"status":"PENDING","warnings":[],"message":""}}},"offRamp":{"kes":{"bank":{"status":"PENDING","warnings":[],"message":""},"momo":{"status":"PENDING","warnings":[],"message":""}},"zar":{"bank":{"status":"PENDING","warnings":[],"message":""}},"gns":{"momo":{"status":"PENDING","warnings":[],"message":""}},"tzs":{"momo":{"status":"PENDING","warnings":[],"message":""}},"ugx":{"momo":{"status":"PENDING","warnings":[],"message":""}},"bwp":{"momo":{"status":"PENDING","warnings":[],"message":""}},"xaf":{"momo":{"status":"PENDING","warnings":[],"message":""}},"mwk":{"momo":{"status":"PENDING","warnings":[],"message":""}},"rwf":{"momo":{"status":"PENDING","warnings":[],"message":""}},"zmw":{"momo":{"status":"PENDING","warnings":[],"message":""}},"xof":{"momo":{"status":"PENDING","warnings":[],"message":""}}}}},"AFRICA_NIGERIA":{"value":{"status":"PENDING","warnings":[],"message":"","onRamp":{"ngn":{"bank":{"status":"PENDING","warnings":[],"message":""}}},"offRamp":{"ngn":{"bank":{"status":"PENDING","warnings":[],"message":""}}}}},"ON_CHAIN":{"value":{"INDIVIDUAL":{"status":"ACTIVE","warnings":[],"message":"","addresses":{"POLYGON_AMOY":{"address":"0xd8Bd4b0f6827BB67E5CF00F1B5E8cf0d0CC30e73"}}}}},"MULTI_CURRENCY_ACCOUNT":{"value":{"status":"PENDING","warnings":[],"message":"","liveness":[{"role":"OWNER_OR_OPERATOR","minLivenessCount":1,"scope":[{"firstName":"John","middleName":"","lastName":"Doe","verifyUrl":"https://liveness.verify.com"}]}]}}}}}},"KycRequirementResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KycRequirementObject"},"examples":{"USD_EURO":{"value":{"userId":"35dbc7ea-2877-4a70-add6-b5458289df23","rails":"USD_EURO","type":"individual","required":{"firstName":"string","lastName":"string","email":"string","phone":"string","address":{"required":{"addressLine1":"string","city":"string","stateProvinceRegion":"string","postalCode":"string","country":"string"},"optional":{"addressLine2":"string"}},"dateOfBirth":"date","taxIdentificationNumber":"string","govIdType":"string","govIdFrontUrl":"string","govIdCountry":"string","proofOfAddressType":"string","proofOfAddressUrl":"string"},"optional":{"sofEuQuestionnaire":{"required":{"actingAsIntermediary":"boolean","employmentStatus":"string","expectedMonthlyPayments":"string","mostRecentOccupation":"string","primaryPurpose":"string","sourceOfFunds":"string"},"optional":{"primaryPurposeOther":"string"}},"govIdBackUrl":"string"},"invalidKycFields":{"message":"fields are either missing or invalid","fields":{"phone":"missing","taxIdentificationNumber":"missing","govIdType":"missing","govIdFrontUrl":"missing","govIdCountry":"missing","proofOfAddressType":"missing","proofOfAddressUrl":"missing"}}}},"SOUTH_AMERICA_STANDARD":{"value":{"userId":"35dbc7ea-2877-4a70-add6-b5458289df23","rails":"SOUTH_AMERICA_STANDARD","type":"individual","required":{"firstName":"string","lastName":"string","email":"string","phone":"string","address":{"required":{"addressLine1":"string","city":"string","stateProvinceRegion":"string","postalCode":"string","country":"string"},"optional":{"addressLine2":"string"}},"dateOfBirth":"date","taxIdentificationNumber":"string","govIdType":"string","govIdFrontUrl":"string","govIdCountry":"string","proofOfAddressType":"string","proofOfAddressUrl":"string","ipAddress":"string"},"optional":{"govIdBackUrl":"string"},"invalidKycFields":{"message":"fields are either missing or invalid","fields":{"phone":"missing","taxIdentificationNumber":"missing","govIdType":"missing","govIdFrontUrl":"missing","govIdCountry":"missing","proofOfAddressType":"missing","proofOfAddressUrl":"missing","ipAddress":"missing"}}}}}}}},"KycLinkResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KycLinkObject"},"examples":{"KycLink":{"value":{"kycLinkUrl":"http://dashboard.hifibridge.com/production/kyc-link?sessionToken=768fb84ad65284cb5fffda212f5e779829318acwdab5a36efbf83c4f44369c73"}}}}}},"AllKycStatusesResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllKycStatusesObject"}}}},"UboObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UboObject"}}}},"UboObjectAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UboObjectList"}}}},"DocumentObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentObject"}}}},"DocumentObjectAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentObjectList"}}}},"CreateMCAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMCAccountObject"}}}},"GetMCAccountResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMCAccountObject"}}}},"GetAllMCAccountsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMCAccountListObject"}}}},"GetMCAccountDepositResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountDepositObject"}}}},"GetAllMCAccountDepositsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountDepositListObject"}}}},"GetMCAccountBalanceResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountBalanceObject"}}}},"CreateMCAccountStoreResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountStoreObject"}}}},"AuthorizeMCAccountStoreResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MCAccountStoreObject"}}}},"CryptoToFiatTransferResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoToFiatTransferObject"}}}},"CryptoToFiatRecordResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoToFiatRecordObject"}}}},"CryptoToFiatAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoToFiatAllRecordsObject"}}}},"CryptoToFiatConversionRateResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoToFiatConversionRateObject"}}}},"AcceptFiatToCryptoQuoteResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcceptFiatToCryptoQuoteObject"}}}},"CryptoToCryptoTransferResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoToCryptoTransferObject"}}}},"CryptoToCryptoRecordResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoToCryptoRecordObject"}}}},"CryptoToCryptoAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CryptoToCryptoAllRecordsObject"}}}},"BridgeAssetTransferResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BridgeAssetTransferObject"}}}},"BridgeAssetRecordResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BridgeAssetTransferObject"}}}},"BridgeAssetAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BridgeAssetTransferListObject"}}}},"BatchCryptoTransferResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCryptoTransferObject"}}}},"BatchCryptoTransferAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchCryptoTransferListObject"}}}},"WalletSwapResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletSwapObject"}}}},"WalletSwapAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletSwapAllRecordsObject"}}}},"FiatToCryptoTransferResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatToCryptoTransferObject"}}}},"FiatToCryptoAcceptQuoteResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatToCryptoTransferAcceptedQuoteObject"}}}},"FiatToCryptoRefreshQuoteResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatToCryptoTransferQuoteObject"},"examples":{"South America":{"value":{"transferType":"FIAT_TO_CRYPTO","transferDetails":{"id":"0ed5e5f7-6f3d-49c3-bbd1-fc7682119d35","requestId":"1533b435-0d57-43f4-8e05-0f4f6730a219","sourceUserId":"7d2150ce-bdc4-442d-899e-800c48ba3954","destinationUserId":"7d2150ce-bdc4-442d-899e-800c48ba3954","transactionHash":null,"chain":"POLYGON_AMOY","sourceCurrency":"brl","amount":100,"destinationAmount":null,"destinationCurrency":"usdc","destinationWalletAddress":"0x8d138c8Dc059255260F07012d9c9Ba3c4286C87c","createdAt":"2024-07-26T14:52:43.893588+00:00","updatedAt":"2024-07-26T14:52:43.893588+00:00","status":"OPEN_QUOTE","sourceUser":{"businessName":null,"firstName":"William","lastName":"Yang","email":"william@hifibridge.com"},"destinationUser":{"businessName":null,"firstName":"William","lastName":"Yang","email":"william@hifibridge.co"},"fee":null,"failedReason":null,"quoteInformation":{"sendGross":{"amount":"100.00","currency":"brl"},"sendNet":{"amount":"99.90","currency":"brl"},"railFee":{"amount":"0.10","currency":"brl"},"receiveGross":{"amount":"16.18","currency":"usdc"},"receiveNet":{"amount":"16.18","currency":"usdc"},"rate":"6.1408","expiresAt":"2024-12-10T04:22:37.036Z"},"depositInfo":null}}}}}}},"FiatToCryptoRecordResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatToCryptoRecordObject"}}}},"FiatToCryptoAllRecordsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatToCryptoAllRecordsObject"}}}},"FiatToCryptoConversionRateResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatToCryptoConversionRateObject"}}}},"SimulateOnrampDepositResponse":{"description":"Successfully triggered sandbox deposit","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Sandbox deposit triggered"}}}}}},"FiatToFiatRecordResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiatToFiatRecordObject"}}}},"ToSLinkObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToSLinkObject"}}}},"ToSLinkRecordStatusResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToSLinkRecordStatusObject"}}}},"WalletBalanceResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletBalanceObject"}}}},"UserV2ObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/IndividualUserV2Object"},{"$ref":"#/components/schemas/BusinessUserV2Object"}]},"examples":{"Individual User":{"value":{"id":"4d93ab4f-3983-4ac0-8c97-54bbc0f287fa","type":"individual","email":"individual.user@gmail.com","name":"John Doe","wallets":{"INDIVIDUAL":{"POLYGON_AMOY":{"address":"0x43B343Bb48E23F58406271131B71448fF95787AD"}}}}},"Business User":{"value":{"id":"faf02667-a55b-4f84-bb61-1bb14f8e158b","type":"business","email":"business.user@gmail.com","name":"Random Bizz","wallets":{"INDIVIDUAL":{"POLYGON_AMOY":{"address":"0x851265406549F53438C8cb8575cD11162098F9fA"}}}}}}}}},"AllUserV2ObjectsResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AllUserV2Objects"}}}},"ExternalWalletsObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalWalletsObject"}}}},"ExternalWalletObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalWalletObject"}}}},"WalletDepositObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletDepositObject"}}}},"WalletDepositsObjectResponse":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletDepositsObject"}}}}},"schemas":{"UsdOnrampAchAccount":{"type":"object","properties":{"plaidProcessorToken":{"type":"string","description":"See https://plaid.com/docs/api/processors/"},"bankName":{"type":"string"},"accountType":{"type":"string","enum":["CHECKING","SAVING","BUSINESS"]},"createVirtualAccount":{"type":"boolean"}},"required":["plaidProcessorToken","bankName","accountType","createVirtualAccount"]},"CreateAccount":{"type":"object","title":"Account","properties":{"rail":{"type":"string","enum":["onramp","offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["us","euro","plaid","brazil","columbia","argentina","mexico","africa","brazilGlobalNetwork","nigeriaGlobalNetwork","mexicoGlobalNetwork","hongKongGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/AccountHolder"},"us":{"type":"object","description":"US account.","$ref":"#/components/schemas/UsAccount"},"euro":{"type":"object","description":"Euro account.","$ref":"#/components/schemas/EuroAccount"},"plaid":{"type":"object","description":"Plaid account.","$ref":"#/components/schemas/PlaidAccount"},"brazil":{"type":"object","description":"Brazil account.","$ref":"#/components/schemas/BrazilAccount"},"colombia":{"type":"object","description":"Colombia account.","$ref":"#/components/schemas/ColombiaAccount"},"argentina":{"type":"object","description":"Argentina account.","$ref":"#/components/schemas/ArgentinaAccount"},"mexico":{"type":"object","description":"Mexico account.","$ref":"#/components/schemas/MexicoAccount"},"africa":{"type":"object","description":"Africa account.","$ref":"#/components/schemas/AfricaAccount"},"brazilGlobalNetwork":{"type":"object","description":"Brazil Global Network account.","$ref":"#/components/schemas/BrazilGlobalNetworkAccount"},"nigeriaGlobalNetwork":{"type":"object","description":"Nigeria Global Network account.","$ref":"#/components/schemas/NigeriaGlobalNetworkAccount"},"mexicoGlobalNetwork":{"type":"object","description":"Mexico Global Network account.","$ref":"#/components/schemas/MexicoGlobalNetworkAccount"},"hongKongGlobalNetwork":{"type":"object","description":"Hong Kong Global Network account.","$ref":"#/components/schemas/HongKongGlobalNetworkAccount"}},"required":["rail","type"]},"CreateUsAccount":{"type":"object","title":"US Offramp Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["us"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/UsAccountHolder"},"us":{"type":"object","description":"US account.","$ref":"#/components/schemas/UsAccount"}},"required":["rail","type","accountHolder","us"]},"CreatePlaidAccount":{"type":"object","title":"Us Plaid Onramp Account","properties":{"rail":{"type":"string","enum":["onramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["plaid"]},"plaid":{"type":"object","description":"Plaid account.","$ref":"#/components/schemas/PlaidAccount"}},"required":["rail","type","plaid"]},"CreateEuroAccount":{"type":"object","title":"Euro Offramp Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["euro"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/AccountHolder"},"euro":{"type":"object","description":"Euro account.","$ref":"#/components/schemas/EuroAccount"}},"required":["rail","type","accountHolder","euro"]},"CreateBrazilAccount":{"type":"object","title":"Brazil Offramp Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["brazil"]},"brazil":{"type":"object","description":"Brazil account.","$ref":"#/components/schemas/BrazilAccount"}},"required":["rail","type","brazil"]},"CreateBrazilGlobalNetworkAccountIndividual":{"type":"object","title":"Brazil Global Network Individual Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["brazilGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkIndividualAccountHolder"},"brazilGlobalNetwork":{"type":"object","description":"Brazil Global Network account.","$ref":"#/components/schemas/BrazilGlobalNetworkAccount"}},"required":["rail","type","accountHolder","brazilGlobalNetwork"]},"CreateBrazilGlobalNetworkAccountBusiness":{"type":"object","title":"Brazil Global Network Business Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["brazilGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkIndividualAccountHolder"},"brazilGlobalNetwork":{"type":"object","description":"Brazil Global Network account.","$ref":"#/components/schemas/BrazilGlobalNetworkAccount"}},"required":["rail","type","accountHolder","brazilGlobalNetwork"]},"BrazilGlobalNetworkAccount":{"type":"object","title":"Brazil Global Network Account","properties":{"email":{"type":"string","format":"email","description":"Provide when idNumber does not serve as offramp destination identifier\nAt most one of the following fields can be provided: pix, email, phone.\n"},"phone":{"type":"string","description":"Provide when idNumber does not serve as offramp destination identifier\nAt most one of the following fields can be provided: pix, email, phone.\n"},"pix":{"type":"string","description":"Provide when idNumber does not serve as offramp destination identifier\nAt most one of the following fields can be provided: pix, email, phone.\n"},"currency":{"type":"string","enum":["brl"],"description":"The currency for the account"}},"required":["currency"]},"CreateNigeriaGlobalNetworkAccountIndividual":{"type":"object","title":"Nigeria Global Network Individual Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["nigeriaGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkIndividualAccountHolder"},"nigeriaGlobalNetwork":{"type":"object","description":"Nigeria Global Network account.","$ref":"#/components/schemas/NigeriaGlobalNetworkAccount"}},"required":["rail","type","accountHolder","nigeriaGlobalNetwork"]},"CreateNigeriaGlobalNetworkAccountBusiness":{"type":"object","title":"Nigeria Global Network Business Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["nigeriaGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkBusinessAccountHolder"},"nigeriaGlobalNetwork":{"type":"object","description":"Nigeria Global Network account.","$ref":"#/components/schemas/NigeriaGlobalNetworkAccount"}},"required":["rail","type","accountHolder","nigeriaGlobalNetwork"]},"CreateMexicoGlobalNetworkAccountIndividual":{"type":"object","title":"Mexico Global Network Individual Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["mexicoGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkIndividualAccountHolder"},"mexicoGlobalNetwork":{"type":"object","description":"Mexico Global Network account.","$ref":"#/components/schemas/MexicoGlobalNetworkAccount"}},"required":["rail","type","accountHolder","mexicoGlobalNetwork"]},"CreateMexicoGlobalNetworkAccountBusiness":{"type":"object","title":"Mexico Global Network Business Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["mexicoGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkBusinessAccountHolder"},"mexicoGlobalNetwork":{"type":"object","description":"Mexico Global Network account.","$ref":"#/components/schemas/MexicoGlobalNetworkAccount"}},"required":["rail","type","accountHolder","mexicoGlobalNetwork"]},"CreateHongKongGlobalNetworkAccountIndividual":{"type":"object","title":"Hong Kong Global Network Individual Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["hongKongGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkIndividualAccountHolder"},"hongKongGlobalNetwork":{"type":"object","description":"Hong Kong Global Network account.","$ref":"#/components/schemas/HongKongGlobalNetworkAccount"}},"required":["rail","type","accountHolder","hongKongGlobalNetwork"]},"CreateHongKongGlobalNetworkAccountBusiness":{"type":"object","title":"Hong Kong Global Network Business Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["hongKongGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkBusinessAccountHolder"},"hongKongGlobalNetwork":{"type":"object","description":"Hong Kong Global Network account.","$ref":"#/components/schemas/HongKongGlobalNetworkAccount"}},"required":["rail","type","accountHolder","hongKongGlobalNetwork"]},"HongKongGlobalNetworkAccount":{"type":"object","title":"Hong Kong Global Network Account","properties":{"bankName":{"type":"string","description":"Bank name for the account"},"accountNumber":{"type":"string","description":"Bank account number"},"swiftCode":{"type":"string","description":"Bank code"},"currency":{"type":"string","enum":["hkd","usd"],"description":"The currency for the account"}},"required":["currency"]},"CreateChinaGlobalNetworkAccountIndividual":{"type":"object","title":"China Global Network Individual Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["chinaGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkIndividualAccountHolder"},"chinaGlobalNetwork":{"type":"object","description":"China Global Network account.","$ref":"#/components/schemas/ChinaGlobalNetworkAccount"}},"required":["rail","type","accountHolder","chinaGlobalNetwork"]},"CreateChinaGlobalNetworkAccountBusiness":{"type":"object","title":"China Global Network Business Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["chinaGlobalNetwork"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/GlobalNetworkBusinessAccountHolder"},"chinaGlobalNetwork":{"type":"object","description":"China Global Network account.","$ref":"#/components/schemas/ChinaGlobalNetworkAccount"}},"required":["rail","type","accountHolder","chinaGlobalNetwork"]},"ChinaGlobalNetworkAccount":{"type":"object","title":"China Global Network Account","properties":{"bankName":{"type":"string","description":"Bank name for the account"},"accountNumber":{"type":"string","description":"Bank account number"},"swiftCode":{"type":"string","description":"Bank code"},"currency":{"type":"string","enum":["usd"],"description":"The currency for the account"}},"required":["currency"]},"MexicoGlobalNetworkAccount":{"type":"object","title":"Mexico Global Network Account","properties":{"speiClabe":{"type":"string","description":"SPEI CLABE number for the account"},"currency":{"type":"string","enum":["mxn"],"description":"The currency for the account"}},"required":["currency"]},"NigeriaGlobalNetworkAccount":{"type":"object","title":"Nigeria Global Network Account","properties":{"bankName":{"type":"string","description":"Bank name for the account"},"accountNumber":{"type":"string","description":"Bank account number"},"currency":{"type":"string","enum":["ngn"],"description":"The currency for the account"}},"required":["currency"]},"CreateColombiaAccount":{"type":"object","title":"Colombia Offramp Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["colombia"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/ColombiaAccountHolder"},"colombia":{"type":"object","description":"Colombia account.","$ref":"#/components/schemas/ColombiaAccount"}},"required":["rail","type","accountHolder","colombia"]},"CreateArgentinaAccount":{"type":"object","title":"Argentina Offramp Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["argentina"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/AccountHolder"},"argentina":{"type":"object","description":"Argentina account.","$ref":"#/components/schemas/ArgentinaAccount"}},"required":["rail","type","accountHolder","argentina"]},"CreateMexicoAccount":{"type":"object","title":"Mexico Offramp Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["mexico"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/AccountHolder"},"mexico":{"type":"object","description":"Mexico account.","$ref":"#/components/schemas/MexicoAccount"}},"required":["rail","type","accountHolder","mexico"]},"CreateAfricaOnrampAccount":{"type":"object","title":"Africa Onramp Account","properties":{"rail":{"type":"string","enum":["onramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["africa"]},"africa":{"type":"object","description":"Africa account.","$ref":"#/components/schemas/AfricaAccount"}},"required":["rail","type","africa"]},"CreateAfricaOfframpAccount":{"type":"object","title":"Africa Offramp Account","properties":{"rail":{"type":"string","enum":["offramp"]},"type":{"type":"string","description":"The type of account to create. The value of this field should match the acount info object field submitted. eg. if the type is `us`, only the `us` account object should be filled.\n","enum":["africa"]},"accountHolder":{"type":"object","description":"account holder information.","$ref":"#/components/schemas/AfricaAccountHolder"},"africa":{"type":"object","description":"Africa account.","$ref":"#/components/schemas/AfricaAccount"}},"required":["rail","type","accountHolder","africa"]},"UsAccountHolder":{"type":"object","title":"Account Holder","properties":{"type":{"type":"string","enum":["individual","business"]},"name":{"type":"string","description":"The name of the account holder.\n`individual`: first name and last name seperated by space.\n`business`: legal name of the business.\n"},"email":{"type":"string","format":"email"},"phone":{"type":"string"},"address":{"type":"object","description":"Address of the accountHolder.","$ref":"#/components/schemas/Address"},"idType":{"type":"string","enum":["CC","CE","NIT","PASS","PEP"],"description":"The type of ID document provided by the account holder.\n`CC`: Citizenship ID\n`CE`: Foreign ID\n`NIT`: National ID\n`PASS`: Passport\n`PEP`: Special Stay Permit\n"},"idNumber":{"type":"string","description":"The ID number of the account holder.\n"}},"required":["type","name","address","phone","email"]},"ColombiaAccountHolder":{"type":"object","title":"Account Holder","properties":{"type":{"type":"string","enum":["individual","business"]},"name":{"type":"string","description":"The name of the account holder.\n`individual`: first name and last name seperated by space.\n`business`: legal name of the business.\n"},"email":{"type":"string","format":"email"},"phone":{"type":"string"},"address":{"type":"object","description":"Address of the accountHolder.","$ref":"#/components/schemas/Address"},"idType":{"type":"string","enum":["CC","CE","NIT","PASS","PEP"],"description":"The type of ID document provided by the account holder.\n`CC`: Citizenship ID\n`CE`: Foreign ID\n`NIT`: National ID\n`PASS`: Passport\n`PEP`: Special Stay Permit\n"},"idNumber":{"type":"string","description":"The ID number of the account holder.\n"}},"required":["type","name","email","idType","idNumber"]},"AfricaAccountHolder":{"type":"object","title":"Account Holder","properties":{"type":{"type":"string","enum":["individual","business"]},"name":{"type":"string","description":"The name of the account holder.\n`individual`: first name and last name seperated by space.\n`business`: legal name of the business.\n"},"email":{"type":"string","format":"email"},"phone":{"type":"string"},"address":{"type":"object","description":"Address of the accountHolder.","$ref":"#/components/schemas/Address"},"idType":{"type":"string","enum":["CC","CE","NIT","PASS","PEP"],"description":"The type of ID document provided by the account holder.\n`CC`: Citizenship ID\n`CE`: Foreign ID\n`NIT`: National ID\n`PASS`: Passport\n`PEP`: Special Stay Permit\n"},"idNumber":{"type":"string","description":"The ID number of the account holder.\n"}},"required":["type","name","phone"]},"AccountHolder":{"type":"object","title":"Account Holder","properties":{"type":{"type":"string","enum":["individual","business"]},"name":{"type":"string","description":"The name of the account holder.\n`individual`: first name and last name seperated by space.\n`business`: legal name of the business.\n"},"email":{"type":"string","format":"email"},"phone":{"type":"string"},"address":{"type":"object","description":"Address of the accountHolder.","$ref":"#/components/schemas/Address"},"idType":{"type":"string","enum":["CC","CE","NIT","PASS","PEP"],"description":"The type of ID document provided by the account holder.\n`CC`: Citizenship ID\n`CE`: Foreign ID\n`NIT`: National ID\n`PASS`: Passport\n`PEP`: Special Stay Permit\n"},"idNumber":{"type":"string","description":"The ID number of the account holder.\n"}},"required":["type","name"]},"GlobalNetworkIndividualAccountHolder":{"type":"object","description":"account holder information.","properties":{"name":{"type":"string","description":"Full name of the account holder"},"type":{"type":"string","enum":["individual"],"description":"Type of account holder"},"address":{"type":"object","properties":{"city":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"stateProvinceRegion":{"type":"string"}},"required":["city","country","postalCode","addressLine1","stateProvinceRegion"]},"dateOfBirth":{"type":"string","format":"date","description":"Date of birth in YYYY-MM-DD format"},"idNumber":{"type":"string","description":"Government issued ID number"},"nationality":{"type":"string","description":"Three-letter country code (ISO 3166-1 alpha-3)"}},"required":["name","type","address","dateOfBirth","idNumber","nationality"]},"GlobalNetworkBusinessAccountHolder":{"type":"object","properties":{"name":{"type":"string","description":"Business name"},"type":{"type":"string","enum":["business"]},"address":{"type":"object","properties":{"city":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"addressLine1":{"type":"string"},"addressLine2":{"type":"string"},"stateProvinceRegion":{"type":"string"}},"required":["city","country","postalCode","addressLine1","stateProvinceRegion"]},"formationDate":{"type":"string","format":"date","description":"Formation date in YYYY-MM-DD format"},"idNumber":{"type":"string","description":"Government issued ID number"}},"required":["name","type","address","formationDate","idNumber"]},"UsAccount":{"type":"object","title":"Account Info","properties":{"transferType":{"type":"string","enum":["ach","wire","rtp","swift"],"description":"The type of transfer this account facilitates.\n"},"accountNumber":{"type":"string","description":"The account number of the account.\n"},"routingNumber":{"type":"string","description":"The routing number of the account.\n"},"bankName":{"type":"string","description":"The name of the bank where the account is held.\n"},"bankAddress":{"type":"object","description":"Address of the bank.","$ref":"#/components/schemas/Address"},"swiftCode":{"type":"string","description":"The SWIFT code of the bank where the account is held.\n"},"intermediaryBankName":{"type":"string","description":"The name of the intermediary bank where the account is held.\n"},"intermediaryBankCountry":{"type":"string","description":"The ISO 3166-1 alpha-3 country code of the intermediary bank where the account is held.\n"},"intermediaryBankSwiftCode":{"type":"string","description":"The SWIFT code of the intermediary bank where the account is held.\n"},"intermediaryBankAccountNumber":{"type":"string","description":"The account number of the intermediary bank where the account is held.\n"},"currency":{"type":"string","enum":["usd"],"description":"The currency of the account.\n"}},"required":["transferType","accountNumber","bankName","currency"]},"PlaidAccount":{"type":"object","title":"Account Info","properties":{"plaidProcessorToken":{"type":"string","description":"The processor token from Plaid.\n"},"accountType":{"type":"string","enum":["checking","savings"],"description":"The type of account.\n"},"bankName":{"type":"string","description":"The name of the bank where the account is held.\n"}},"required":["plaidProcessorToken","accountType","bankName"]},"EuroAccount":{"type":"object","title":"Account Info","properties":{"iban":{"type":"string","description":"The IBAN of the account.\n"},"businessIdentifierCode":{"type":"string","description":"The BIC of the account.\n"},"bankName":{"type":"string","description":"The name of the bank where the account is held.\n"},"currency":{"type":"string","enum":["eur"],"description":"The currency of the account.\n"},"country":{"type":"string","description":"The IBAN country code of the account.\n"}},"required":["iban","businessIdentifierCode","bankName","currency","country"]},"BrazilAccount":{"type":"object","title":"Account Info","properties":{"pixKey":{"type":"string","description":"The PIX key of the account.\n"},"currency":{"type":"string","enum":["brl"],"description":"The currency of the account.\n"}},"required":["pixKey","currency"]},"ColombiaAccount":{"type":"object","title":"Account Info","properties":{"bankName":{"type":"string","description":"The name of the bank where the account is held. Required if `bankCode` is not provided.\n","enum":["MOVII","Banco de Bogotá","Banco Popular","Banco Corpbanca ITAU","Bancolombia","Citibank","Banco GNB Sudameris","BBVA","ITAU","Scotiabank Colpatria","Banco de Occidente","Bancoldex","Banco Caja Social","Banco Agrario","Jpmorgan Corporacion Financier","BNP PARIBAS","Davivienda","Banco AVVillas","Banco W","Banco Procredit Colombia","Bancamia","Inversora Pichincha S.A.","Bancoomeva","Banco Falabella S.A.","Banco Finandina S.A.","Banco Santander Negocios","Banco Cooperativo Coopcentral","Serfinanza S.A","LULO BANK SA","Banco JP Morgan","Compensar","Gestion y Contacto S.A.","Fedecajas","Simple S.A.","Enlace Operativo","Corp. Financiera Colombiana","Financiera Juriscoop","Rappi","Coop. Financiera de Antioquia","Cotrafa Cooperativa Financiera","Confiar Cooperativa Financiera","Giros y Finanzas","COLTEFINANCIERA","Banco OLD Mutual","NEQUI","DECEVAL","Daviplata","Banco Credifinanciera","Financiera Dann (IRIS)","DGCPTN"]},"bankCode":{"type":"string","description":"The bank code of the bank where the account is held. Required if `bankName` is not provided. If provided, this will take precedence over `bankName`.\n"},"accountNumber":{"type":"string","description":"The account number of the account.\n"},"accountType":{"type":"string","enum":["checking","savings"],"description":"The type of account.\n"},"currency":{"type":"string","enum":["cop"],"description":"The currency of the account.\n"}},"required":["accountNumber","accountType","currency"]},"MexicoAccount":{"type":"object","title":"Account Info","properties":{"speiProtocol":{"type":"string","enum":["clabe","debitcard","phonenum"],"description":"The SPEI protocol of the account.\n"},"speiInstitutionCode":{"type":"string","description":"The institution code of the account. Required only if `speiProtocol` is `debitcard` or `phonenum`.\n"},"speiClabe":{"type":"string"},"currency":{"type":"string","enum":["mxn"],"description":"The currency of the account.\n"}},"required":["speiProtocol","speiClabe","currency"]},"ArgentinaAccount":{"type":"object","title":"Account Info","properties":{"accountType":{"type":"string","enum":["CVU","CBU","ALIAS"],"description":"The type of account.\n"},"accountNumber":{"type":"string","description":"The account number of the account.\n"},"currency":{"type":"string","enum":["ars"],"description":"The currency of the account.\n"}},"required":["accountType","accountNumber","currency"]},"AfricaAccount":{"type":"object","title":"Account Info","properties":{"financialInstitute":{"type":"string","description":"The financial institute of the account. Financial institue type has to match the accountType. eg. accountType of bank requires financialInstitute of bank.\nLook at the list of supported combination of `country`, `currency`, and `financialInstitute` [here](https://docs.google.com/spreadsheets/d/1QxAWGoZMznB6_Ts4mzFcFD49ZOMUZNdNiR6wlr8NDL0/edit?gid=293141391#gid=293141391).\nMake sure the `financialInstitute` enum is supported under the `country` and `currency`.\n"},"accountType":{"type":"string","enum":["momo","bank"],"description":"The type of account.\n"},"accountNumber":{"type":"string","description":"The account number of the account. Not required for `rail`: \"onramp\" with `accountType`: \"bank\". Required otherwise.\n"},"currency":{"type":"string","description":"The currency of the account.\nLook at the list of supported combination of `country`, `currency`, and `financialInstitute` [here](https://docs.google.com/spreadsheets/d/1QxAWGoZMznB6_Ts4mzFcFD49ZOMUZNdNiR6wlr8NDL0/edit?gid=293141391#gid=293141391).\nMake sure the `currency` enum is supported under the `country` and `financialInstitute`.\n"},"country":{"type":"string","description":"The country code of the account.\nLook at the list of supported combination of `country`, `currency`, and `financialInstitute` [here](https://docs.google.com/spreadsheets/d/1QxAWGoZMznB6_Ts4mzFcFD49ZOMUZNdNiR6wlr8NDL0/edit?gid=293141391#gid=293141391).\nMake sure the `country` enum is supported under the `currency` and `financialInstitute`.\n"}},"required":["financialInstitute","accountType","currency","country"]},"CreateVirtualAccount":{"type":"object","title":"Create Virtual Account","properties":{"sourceCurrency":{"type":"string","enum":["usd"]},"destinationCurrency":{"type":"string","enum":["usdc","usdt"],"description":"usdt is only supported on ethereum\n"},"destinationChain":{"type":"string","enum":["POLYGON","ETHEREUM","SOLANA","BASE"],"description":"Either `externalWalletId` or `destinationChain` must be provided.\n"},"externalWalletId":{"type":"string","description":"Either `externalWalletId` or `destinationChain` must be provided.\n"}},"required":["sourceCurrency","destinationCurrency"]},"UpdateVirtualAccount":{"type":"object","title":"Update Virtual Account","properties":{"sourceCurrency":{"type":"string","enum":["usd"]},"destinationCurrency":{"type":"string","enum":["usdc","usdt"],"description":"usdt is only supported on ethereum\n"},"destinationChain":{"type":"string","enum":["POLYGON","ETHEREUM","SOLANA","BASE"],"description":"Either `externalWalletId` or `destinationChain` must be provided.\n"},"externalWalletId":{"type":"string","description":"Either `externalWalletId` or `destinationChain` must be provided.\n"}},"required":["sourceCurrency","destinationCurrency"]},"CreateVirtualAccountObject":{"type":"object","properties":{"message":{"type":"string","example":"Virtual account created successfully"},"accountInfo":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"cfbc005d-8640-57a4-89e1-539c974fa780"},"userId":{"type":"string","format":"uuid","example":"840c28f2-ea7d-5c3a-9271-b10fd8b6ae6d"},"source":{"type":"object","properties":{"paymentRail":{"type":"array","items":{"type":"string"},"example":["ach","wire","rtp","swift"]},"currency":{"type":"string","example":"usd"}}},"destination":{"type":"object","properties":{"chain":{"type":"string","example":"POLYGON"},"currency":{"type":"string","example":"usdc"},"walletAddress":{"type":"string","example":"0xd102C4130985B7fcB95697616eaf5542c4f98d49"},"externalWalletId":{"type":"string","nullable":true,"example":null}}},"status":{"type":"string","example":"activated"},"depositInstructions":{"type":"object","properties":{"bankName":{"type":"string","example":"Bank of NoWhere"},"bankAddress":{"type":"string","example":"123 Main St, New York, NY 10001, USA"},"swiftCode":{"type":"string","example":"XXXXXXXX"},"beneficiary":{"type":"object","properties":{"name":{"type":"string","example":"Henry Wu"},"address":{"type":"string","example":"<development>, <development>"}}},"ach":{"type":"object","properties":{"routingNumber":{"type":"string","example":"028000024"},"accountNumber":{"type":"string","example":"123456789"}}},"wire":{"type":"object","properties":{"routingNumber":{"type":"string","example":"021000021"},"accountNumber":{"type":"string","example":"123456789"}}},"rtp":{"type":"object","properties":{"routingNumber":{"type":"string","example":"021000021"},"accountNumber":{"type":"string","example":"123456789"}}}}}}}},"example":{"message":"Virtual account created successfully","accountInfo":{"id":"cfbc005d-8640-57a4-89e1-539c974fa780","userId":"840c28f2-ea7d-5c3a-9271-b10fd8b6ae6d","source":{"paymentRail":["ach","wire","rtp","swift"],"currency":"usd"},"destination":{"chain":"POLYGON","currency":"usdc","walletAddress":"0xd102C4130985B7fcB95697616eaf5542c4f98d49","externalWalletId":null},"status":"activated","depositInstructions":{"bankName":"Bank of NoWhere","bankAddress":"123 Main St, New York, NY 10001, USA","swiftCode":"XXXXXXXX","beneficiary":{"name":"Henry Wu","address":"<development>, <development>"},"ach":{"routingNumber":"028000024","accountNumber":"123456789"},"wire":{"routingNumber":"021000021","accountNumber":"123456789"},"rtp":{"routingNumber":"021000021","accountNumber":"123456789"}}}}},"VirtualAccountObject":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"cfbc005d-8640-57a4-89e1-539c974fa780"},"userId":{"type":"string","format":"uuid","example":"840c28f2-ea7d-5c3a-9271-b10fd8b6ae6d"},"source":{"type":"object","properties":{"paymentRail":{"type":"array","items":{"type":"string"},"example":["ach","wire","rtp","swift"]},"currency":{"type":"string","example":"usd"}}},"destination":{"type":"object","properties":{"chain":{"type":"string","example":"POLYGON"},"currency":{"type":"string","example":"usdc"},"walletAddress":{"type":"string","example":"0xd102C4130985B7fcB95697616eaf5542c4f98d49"},"externalWalletId":{"type":"string","nullable":true,"example":null}}},"status":{"type":"string","example":"activated"},"depositInstructions":{"type":"object","properties":{"bankName":{"type":"string","example":"Bank of NoWhere"},"bankAddress":{"type":"string","example":"123 Main St, New York, NY 10001, USA"},"swiftCode":{"type":"string","example":"XXXXXXXX"},"beneficiary":{"type":"object","properties":{"name":{"type":"string","example":"Henry Wu"},"address":{"type":"string","example":"<development>, <development>"}}},"ach":{"type":"object","properties":{"routingNumber":{"type":"string","example":"028000024"},"accountNumber":{"type":"string","example":"123456789"}}},"wire":{"type":"object","properties":{"routingNumber":{"type":"string","example":"021000021"},"accountNumber":{"type":"string","example":"123456789"}}},"rtp":{"type":"object","properties":{"routingNumber":{"type":"string","example":"021000021"},"accountNumber":{"type":"string","example":"123456789"}}}}}},"example":{"id":"cfbc005d-8640-57a4-89e1-539c974fa780","userId":"840c28f2-ea7d-5c3a-9271-b10fd8b6ae6d","source":{"paymentRail":["ach","wire","rtp","swift"],"currency":"usd"},"destination":{"chain":"POLYGON","currency":"usdc","walletAddress":"0xd102C4130985B7fcB95697616eaf5542c4f98d49","externalWalletId":null},"status":"activated","depositInstructions":{"bankName":"Bank of NoWhere","bankAddress":"123 Main St, New York, NY 10001, USA","swiftCode":"XXXXXXXX","beneficiary":{"name":"Henry Wu","address":"<development>, <development>"},"ach":{"routingNumber":"028000024","accountNumber":"123456789"},"wire":{"routingNumber":"021000021","accountNumber":"123456789"},"rtp":{"routingNumber":"021000021","accountNumber":"123456789"}}}},"VirtualAccountListObject":{"type":"object","properties":{"count":{"type":"integer","description":"The total number of virtual accounts."},"data":{"type":"array","items":{"$ref":"#/components/schemas/VirtualAccountObject"}},"nextCursor":{"type":"string","description":"The `createdAt` timestamp of the last record in the current page. Pass this as `createdBefore` in the next request to retrieve the next page of results."}},"example":{"count":1,"accounts":[{"id":"f2954397-dbef-41e1-a40e-71067754e807","createdAt":"2023-01-01T00:00:00Z","userId":"c15c0adf-3e45-4a62-b334-73aeec127649","source":{"paymentRail":["ach_push","wire"],"currency":"usd"},"destination":{"chain":"POLYGON","currency":"usdc","walletAddress":"0x848732f6c834E05b17C56fa01E83EE095f72C3c3","externalWalletId":"335051d6-44ba-4ad7-ab78-bb433a568161"},"status":"activated","depositInstructions":{"bankName":"Bank of Nowhere","routingNumber":"101019644","accountNumber":"900356830786","bankAddress":"1800 North Pole St., Orlando, FL 32801","beneficiary":{"name":"Henry Wu","address":"Example St 1., Apt 123, Hoboken, NJ 07030, US"}}}],"nextCursor":"2023-01-01T00:00:00Z"}},"DeactivateVirtualAccountObject":{"type":"object","properties":{"message":{"type":"string","example":"Virtual account deactivated successfully"},"accountInfo":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"f2954397-dbef-41e1-a40e-71067754e807"},"userId":{"type":"string","format":"uuid","example":"c15c0adf-3e45-4a62-b334-73aeec127649"},"source":{"type":"object","properties":{"paymentRail":{"type":"array","items":{"type":"string"},"example":["ach_push","wire"]},"currency":{"type":"string","example":"usd"}}},"destination":{"type":"object","properties":{"chain":{"type":"string","example":"POLYGON"},"currency":{"type":"string","example":"usdc"},"walletAddress":{"type":"string","example":"0x848732f6c834E05b17C56fa01E83EE095f72C3c3"}}},"status":{"type":"string","example":"deactivated"},"depositInstructions":{"type":"object","properties":{"bankName":{"type":"string","example":"Bank of Nowhere"},"routingNumber":{"type":"string","example":"101019644"},"accountNumber":{"type":"string","example":"900356830786"},"bankAddress":{"type":"string","example":"1800 North Pole St., Orlando, FL 32801"},"beneficiary":{"type":"object","properties":{"name":{"type":"string","example":"Henry Wu"},"address":{"type":"string","example":"Example St 1., Apt 123, Hoboken, NJ 07030, US"}}}}},"microDeposits":{"type":"object","properties":{"count":{"type":"integer","example":0},"data":{"type":"array","items":{"type":"object"},"example":[]}}}}}},"example":{"message":"Virtual account deactivated successfully","accountInfo":{"id":"f2954397-dbef-41e1-a40e-71067754e807","userId":"c15c0adf-3e45-4a62-b334-73aeec127649","source":{"paymentRail":["ach_push","wire"],"currency":"usd"},"destination":{"chain":"POLYGON","currency":"usdc","walletAddress":"0x848732f6c834E05b17C56fa01E83EE095f72C3c3"},"status":"deactivated","depositInstructions":{"bankName":"Bank of Nowhere","routingNumber":"101019644","accountNumber":"900356830786","bankAddress":"1800 North Pole St., Orlando, FL 32801","beneficiary":{"name":"Henry Wu","address":"Example St 1., Apt 123, Hoboken, NJ 07030, US"}},"microDeposits":{"count":0,"data":[]}}}},"ReactivateVirtualAccountObject":{"type":"object","properties":{"message":{"type":"string","example":"Virtual account reactivated successfully"},"accountInfo":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"f2954397-dbef-41e1-a40e-71067754e807"},"userId":{"type":"string","format":"uuid","example":"c15c0adf-3e45-4a62-b334-73aeec127649"},"source":{"type":"object","properties":{"paymentRail":{"type":"array","items":{"type":"string"},"example":["ach_push","wire"]},"currency":{"type":"string","example":"usd"}}},"destination":{"type":"object","properties":{"chain":{"type":"string","example":"POLYGON"},"currency":{"type":"string","example":"usdc"},"walletAddress":{"type":"string","example":"0x848732f6c834E05b17C56fa01E83EE095f72C3c3"}}},"status":{"type":"string","example":"activated"},"depositInstructions":{"type":"object","properties":{"bankName":{"type":"string","example":"Bank of Nowhere"},"routingNumber":{"type":"string","example":"101019644"},"accountNumber":{"type":"string","example":"900356830786"},"bankAddress":{"type":"string","example":"1800 North Pole St., Orlando, FL 32801"},"beneficiary":{"type":"object","properties":{"name":{"type":"string","example":"Henry Wu"},"address":{"type":"string","example":"Example St 1., Apt 123, Hoboken, NJ 07030, US"}}}}},"microDeposits":{"type":"object","properties":{"count":{"type":"integer","example":0},"data":{"type":"array","items":{"type":"object"},"example":[]}}}}}},"example":{"message":"Virtual account reactivated successfully","accountInfo":{"id":"f2954397-dbef-41e1-a40e-71067754e807","userId":"c15c0adf-3e45-4a62-b334-73aeec127649","source":{"paymentRail":["ach_push","wire"],"currency":"usd"},"destination":{"chain":"POLYGON","currency":"usdc","walletAddress":"0x848732f6c834E05b17C56fa01E83EE095f72C3c3"},"status":"activated","depositInstructions":{"bankName":"Bank of Nowhere","routingNumber":"101019644","accountNumber":"900356830786","bankAddress":"1800 North Pole St., Orlando, FL 32801","beneficiary":{"name":"Henry Wu","address":"Example St 1., Apt 123, Hoboken, NJ 07030, US"}},"microDeposits":{"count":0,"data":[]}}}},"UpdateVirtualAccountObject":{"type":"object","properties":{"message":{"type":"string","example":"Virtual account updated successfully"},"accountInfo":{"type":"object","properties":{"id":{"type":"string","format":"uuid","example":"cfbc005d-8640-57a4-89e1-539c974fa780"},"userId":{"type":"string","format":"uuid","example":"840c28f2-ea7d-5c3a-9271-b10fd8b6ae6d"},"source":{"type":"object","properties":{"paymentRail":{"type":"array","items":{"type":"string"},"example":["ach","wire","rtp","swift"]},"currency":{"type":"string","example":"usd"}}},"destination":{"type":"object","properties":{"chain":{"type":"string","example":"POLYGON"},"currency":{"type":"string","example":"usdc"},"walletAddress":{"type":"string","example":"0xd102C4130985B7fcB95697616eaf5542c4f98d49"},"externalWalletId":{"type":"string","nullable":true,"example":null}}},"status":{"type":"string","example":"activated"},"depositInstructions":{"type":"object","properties":{"bankName":{"type":"string","example":"Bank of NoWhere"},"bankAddress":{"type":"string","example":"123 Main St, New York, NY 10001, USA"},"swiftCode":{"type":"string","example":"XXXXXXXX"},"beneficiary":{"type":"object","properties":{"name":{"type":"string","example":"Henry Wu"},"address":{"type":"string","example":"<development>, <development>"}}},"ach":{"type":"object","properties":{"routingNumber":{"type":"string","example":"028000024"},"accountNumber":{"type":"string","example":"123456789"}}},"wire":{"type":"object","properties":{"routingNumber":{"type":"string","example":"021000021"},"accountNumber":{"type":"string","example":"123456789"}}},"rtp":{"type":"object","properties":{"routingNumber":{"type":"string","example":"021000021"},"accountNumber":{"type":"string","example":"123456789"}}}}}}}},"example":{"message":"Virtual account created successfully","accountInfo":{"id":"cfbc005d-8640-57a4-89e1-539c974fa780","userId":"840c28f2-ea7d-5c3a-9271-b10fd8b6ae6d","source":{"paymentRail":["ach","wire","rtp","swift"],"currency":"usd"},"destination":{"chain":"POLYGON","currency":"usdc","walletAddress":"0xd102C4130985B7fcB95697616eaf5542c4f98d49","externalWalletId":null},"status":"activated","depositInstructions":{"bankName":"Bank of NoWhere","bankAddress":"123 Main St, New York, NY 10001, USA","swiftCode":"XXXXXXXX","beneficiary":{"name":"Henry Wu","address":"<development>, <development>"},"ach":{"routingNumber":"028000024","accountNumber":"123456789"},"wire":{"routingNumber":"021000021","accountNumber":"123456789"},"rtp":{"routingNumber":"021000021","accountNumber":"123456789"}}}}},"CreateAccountObject":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"id":{"type":"string"}},"example":{"status":"ACTIVE","message":"Account created successfully","id":"583eb259-e78b-4f0c-a4b5-a8957876fa6f"}},"DeleteAccountObject":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"}},"example":{"status":"INACTIVE","message":"Account deleted successfully","id":"583eb259-e78b-4f0c-a4b5-a8957876fa6f"}},"AccountObject":{"type":"object","properties":{"accountId":{"type":"string"},"userId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"accountType":{"type":"string"},"accountNumber":{"type":"string"},"routingNumber":{"type":"string"},"bankName":{"type":"string"},"rail":{"type":"object","properties":{"currency":{"type":"string"},"railType":{"type":"string"},"paymentRail":{"type":"string"}}}},"example":{"accountId":"4d9fed63-17e3-4c08-a91e-6e08d0133af0","userId":"0a472717-039b-48bb-894a-a4fc914a1fe4","createdAt":"2024-08-07T15:52:23.093947+00:00","accountType":"SAVINGS","accountNumber":"1111","routingNumber":"011401533","bankName":"Bank of America","rail":{"currency":"usd","railType":"onramp","paymentRail":"ach"}}},"AllAccountObjects":{"type":"object","properties":{"count":{"type":"integer"},"banks":{"type":"array","items":{"type":"object","properties":{"accountId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"status":{"type":"string"},"accountType":{"type":"string"},"businessIdentifierCode":{"type":"string"},"accountNumber":{"type":"string"},"routingNumber":{"type":"string"},"accountHolderName":{"type":"string"},"accountHolderCity":{"type":"string"},"accountHolderCountry":{"type":"string"},"accountHolderStreetLine1":{"type":"string"},"accountHolderStateProvinceRegion":{"type":"string"},"accountHolderPostalCode":{"type":"string"},"bankCountry":{"type":"string"},"userId":{"type":"string"},"rail":{"type":"object","properties":{"currency":{"type":"string"},"railType":{"type":"string"},"paymentRail":{"type":"string"}}}}}},"nextCursor":{"type":"string","description":"The `createdAt` timestamp of the last record in the current page. Pass this as `createdBefore` in the next request to retrieve the next page of results."}},"example":{"count":1,"banks":[{"accountId":"3032c480-f4e9-462e-ab97-39984bd92c31","createdAt":"2024-08-07T15:53:05.571061+00:00","status":"pending","accountType":"us","businessIdentifierCode":"021000021","accountNumber":"123456789012","routingNumber":"021000021","accountHolderName":"Post Man","accountHolderCity":"New York","accountHolderCountry":"US","accountHolderStreetLine1":"123 Main St","accountHolderStateProvinceRegion":"NY","accountHolderPostalCode":"10001","bankCountry":"US","userId":"0a472717-039b-48bb-894a-a4fc914a1fe4","rail":{"currency":"usd","railType":"offramp","paymentRail":"wire"}}],"nextCursor":"2024-08-07T15:53:05.571061+00:00"}},"SimulateVirtualAccountDeposit":{"type":"object","title":"Simulate Virtual Account Deposit","properties":{"amount":{"type":"string","description":"Amount to simulate deposit (must be less than 250)","example":"88.8"},"paymentRail":{"type":"string","enum":["ach","wire","rtp"],"description":"Payment rail for the simulated deposit","example":"wire"},"requestId":{"type":"string","description":"Unique identifier for the request (recommend using uuid v4)","example":"550e8400-e29b-41d4-a716-446655440000"}},"required":["amount","paymentRail","requestId"]},"SettlementRuleTier":{"type":"object","title":"Settlement Rule Tier","properties":{"min":{"type":"string","description":"Minimum value for this tier (empty string is required for first tier)","example":"1000"},"max":{"type":"string","description":"Maximum value for this tier (empty string is required for last tier)","example":"2000"},"value":{"type":"number","description":"Fee value for this tier","example":0.0005}},"required":["min","max","value"]},"SettlementRule":{"type":"object","title":"Settlement Rule","properties":{"type":{"type":"string","enum":["PERCENTAGE","FIXED"],"description":"Type of fee calculation","example":"PERCENTAGE"},"calculationModel":{"type":"string","enum":["FIXED","TIERED"],"description":"Model for calculating the fee","example":"FIXED"},"value":{"type":"number","nullable":true,"description":"Fixed fee value (omit for tiered calculation model)","example":0.001},"tiers":{"type":"array","nullable":true,"items":{"$ref":"#/components/schemas/SettlementRuleTier"},"description":"Tiered fee structure (omit for fixed calculation model)"},"walletAddress":{"type":"string","description":"Wallet address to receive the fee","example":"0x15FB50680fEB2f726413416665c25f9B397b047b"}},"required":["type","calculationModel","walletAddress"]},"CreateSettlementRule":{"type":"object","title":"Create Settlement Rule","properties":{"requestId":{"type":"string","description":"Unique identifier for the request (recommend using uuid v4)","example":"{{$guid}}"},"chain":{"type":"string","enum":["BASE","POLYGON","ETHEREUM","SOLANA"],"description":"Blockchain network for the settlement rule, this should be the same as the blockchain network of the virtual account","example":"BASE"},"includeHIFIFee":{"type":"boolean","description":"Whether to include HiFi's fee in addition to custom rules, please contact HiFi support if you want to include HiFi's fee","example":false},"rules":{"type":"array","items":{"$ref":"#/components/schemas/SettlementRule"},"description":"Array of settlement rules","minItems":1}},"required":["requestId","chain","includeHIFIFee","rules"]},"UpdateSettlementRule":{"type":"object","title":"Update Settlement Rule","properties":{"requestId":{"type":"string","description":"Unique identifier for the request (recommend using uuid v4)","example":"{{$guid}}"},"chain":{"type":"string","enum":["BASE","POLYGON","ETHEREUM","SOLANA"],"description":"Blockchain network for the settlement rule","example":"BASE"},"includeHIFIFee":{"type":"boolean","description":"Whether to include HiFi's fee in addition to custom rules","example":false},"rules":{"type":"array","items":{"$ref":"#/components/schemas/SettlementRule"},"description":"Array of settlement rules","minItems":1}},"required":["requestId","chain","includeHIFIFee","rules"]},"SettlementRuleResponse":{"type":"object","title":"Settlement Rule Response","properties":{"id":{"type":"string","description":"Unique identifier for the settlement rule","example":"15c786fb-de7a-520c-a4b3-f312d4a122d2"},"chain":{"type":"string","enum":["BASE","POLYGON","ETHEREUM","SOLANA"],"description":"Blockchain network for the settlement rule","example":"BASE"},"includeHIFIFee":{"type":"boolean","description":"Whether to include HiFi's fee in addition to custom rules, please contact HiFi support if you want to include HiFi's fee","example":false},"rules":{"type":"array","items":{"$ref":"#/components/schemas/SettlementRule"},"description":"Array of settlement rules"}},"required":["id","chain","includeHIFIFee","rules"],"example":{"id":"15c786fb-de7a-520c-a4b3-f312d4a122d2","chain":"BASE","includeHIFIFee":false,"rules":[{"type":"PERCENTAGE","calculationModel":"FIXED","value":0.001,"tiers":null,"walletAddress":"0x15FB50680fEB2f726413416665c25f9B397b047b"},{"type":"FIXED","calculationModel":"FIXED","value":0.5,"tiers":null,"walletAddress":"0x15FB50680fEB2f726413416665c25f9B397b047b"},{"type":"PERCENTAGE","calculationModel":"TIERED","value":null,"tiers":[{"max":"1000","min":"","value":0.0007},{"max":"2000","min":"1000","value":0.0005},{"max":"","min":"2000","value":0.0002}],"walletAddress":"0x15FB50680fEB2f726413416665c25f9B397b047b"}]}},"SettlementRuleListResponse":{"type":"object","title":"Settlement Rule List Response","properties":{"count":{"type":"integer","description":"Total number of settlement rules","example":5},"rules":{"type":"array","items":{"$ref":"#/components/schemas/SettlementRuleResponse"},"description":"Array of settlement rules"},"nextCursor":{"type":"string","nullable":true,"description":"Cursor for pagination to the next page of results"}},"required":["count","rules"]},"DeleteSettlementRuleResponse":{"type":"object","title":"Delete Settlement Rule Response","properties":{"message":{"type":"string","description":"Success message","example":"Settlement rule deleted successfully"}},"required":["message"]},"ApplySettlementRuleResponse":{"type":"object","title":"Apply Settlement Rule Response","properties":{"message":{"type":"string","description":"Success message","example":"Settlement rule applied to virtual account successfully"}},"required":["message"]},"RemoveSettlementRuleResponse":{"type":"object","title":"Remove Settlement Rule Response","properties":{"message":{"type":"string","description":"Success message","example":"Settlement rule removed from virtual account successfully"}},"required":["message"]},"Unauthorized":{"type":"object","properties":{"error":{"type":"string","example":"Not authorized"}}},"NotFound":{"type":"object","properties":{"error":{"type":"string","example":"Not Found"}}},"InternalServerError":{"type":"object","properties":{"error":{"type":"string","example":"Unexpected error happened"}}},"Pong":{"type":"object","properties":{"message":{"type":"string","example":"pong"}}},"CreateMCAccountRecipient":{"type":"object
[...]
